<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form angularjs</title>
</head>

<body ng-app="app-form">
    <div ng-controller="formController">
        <!-- Dữ liệu liên quan đến form sẽ đc $scope của formController quản lý -->
        <form action="">
            <div>
                <input placeholder="Tên" ng-model="inputValue.ten">

            </div>
            <p ng-if="KiemTraDuLieu.ten == true">Vui lòng nhập tên</p>

            <!-- <input 
            placeholder="Tuổi" 
            type="number" 
            ng-keyup="onChangeAge($event)"
            
            > -->
            <input placeholder="Tuổi" ng-model="inputValue.tuoi">
            <button type="button" ng-disabled="!inputValue.ten || !inputValue.tuoi" ng-click="onSubmitForm()"> Tạo
                mới</button>
        </form>
        <h1>{{inputValue.ten}}</h1>
        <h1>{{tuoi}}</h1>
    </div>
    <script src="./angularjs/libs/angular.min.js"></script>
    <script>
        var app = angular.module('app-form', []);
        app.controller('formController', function ($scope) {
            // $scope.ten = '';
            // $scope.tuoi = 0;
            $scope.onSubmitForm = function () {
                if(!$scope.inpuValue.ten){
                    $scope.KiemTraDuLieu.ten = true;
                }else {
                    $scope.KiemTraDuLieu.ten = false;
                }
                // console.log($scope.ten, $scope.tuoi);
                // Khi submit sẽ kiểm tra giá trị
                // Nếu tên không có thì $ scope.kiemTraDuLieu.ten = true
                //Hiện thị nội dung thông báo
            }
            $scope.onChangeAge = function (event) {
                $scope.tuoi = event.target.value;
            }
            // Kiểu viết quản lí dữ liệu thep object
            $scope.inputValue = {
                ten: '',
                tuoi: 0
            };
            // Yêu cầu không dùng ng-disabled, để cho bấm
            // Nếu chưa hiện gì thì báo hiện thị dữ liệu
            $scope.validate = {
                ten: false,
                tuoi: false
            }

        });
    </script>
</body>

</html>